<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a76773.myapplication">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity.main_page" />
        <activity android:name=".MainActivity.RegisterMainActivity" />
        <activity android:name=".MainActivity.LoginMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity.Item_infoActivity" />
        <activity android:name=".MainActivity.kind_page1" />
        <activity android:name=".MainActivity.kind_page2" />
        <activity android:name=".MainActivity.kind_page3" />
        <activity android:name=".MainActivity.kind_page4" />
        <activity android:name=".MainActivity.AddItem"></activity>
        <activity android:name=".MainActivity.MyItems"></activity>
        <activity android:name=".MainActivity.MyselfActivity"></activity>
    </application>

</manifest>